@namespace MasterPC_WASM.Components.Tables
@using Shared.View_Models

<MudPaper Elevation="3">
    <MudDataGrid Items="@Elements" QuickFilter="_quickFilter" ColumnResizeMode="ResizeMode.Container">
        <ToolBarContent>
            <MudText Typo="Typo.h6">CPUs</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="cpu => cpu.PCPId" Title="PCP ID" />

            <PropertyColumn Property="cpu => cpu.Name" Title="Name">
                <CellTemplate>
                    <MudStack Row AlignItems="AlignItems.Center">
                        <MudImage Height="50" Width="50" Avatar="true" Src="@(context.Item.ImgUrl != null ? context.Item.ImgUrl : "favicon.ico")" />
                        <a href="@("product/cpu/" + context.Item.Id)"><MudText Typo="Typo.body1"><b>@(context.Item.Name)</b></MudText></a>
                    </MudStack>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="cpu => cpu.Manufacturer" Title="Manufacturer" />

            <PropertyColumn Property="cpu => cpu.CoreCount" Title="Core Count" CellStyle="max-width: 10px; overflow-x: hidden; white-space: nowrap;" />

            <PropertyColumn Property="cpu => cpu.CoreClock" Title="Core Clock" >
                <CellTemplate>
                    <MudText Typo="Typo.inherit">@(context.Item.CoreClock is not null ? context.Item.CoreClock + " MHz" : null)</MudText>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="cpu => cpu.BoostClock" Title="Boost Clock">
                <CellTemplate>
                    <MudText Typo="Typo.inherit"> @(context.Item.BoostClock is not null ? context.Item.BoostClock + " MHz" : null)</MudText>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="cpu => cpu.TDP" Title="TDP">
                <CellTemplate>
                    <MudText Typo="Typo.inherit"> @(context.Item.TDP is not null ? context.Item.TDP + " W" : null)</MudText>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="cpu => cpu.Socket" Title="Socket" />

            <PropertyColumn Property="cpu => cpu.Graphics" Title="Integrated Graphics" />

            <PropertyColumn Property="cpu => cpu.SMT" Title="SMT">
                <CellTemplate>
                    <MudText Typo="Typo.inherit"> @(context.Item.SMT is not null && context.Item.SMT == true ? "Yes" : "No")</MudText>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="cpu => cpu.HasCooler" Title="Stock Cooler">
                <CellTemplate>
                    <MudText Typo="Typo.inherit"> @(context.Item.HasCooler ? "Yes" : "No")</MudText>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="cpu => cpu.Price" Title="Price">
                <CellTemplate>
                    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                        <b>
                            <MudText Typo="Typo.inherit"> @(string.Format("${0:N2}", context.Item.Price))</MudText>
                        </b>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small">Add</MudButton>
                    </MudStack>
                </CellTemplate>
            </PropertyColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="CPUVM" />
        </PagerContent>
    </MudDataGrid>
</MudPaper>

@code {
    [Parameter]
    public List<CPUVM>? Elements { get; set; }

    private string? _searchString { get; set; }

    private Func<CPUVM, bool> _quickFilter => cpu =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (cpu.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (!String.IsNullOrEmpty(cpu.Manufacturer) && cpu.Manufacturer.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        //if ($"{cpu.Number} {x.Position} {x.Molar}".Contains(_searchString))
        //    return true;

        return false;
    };

}
