@namespace MasterPC_WASM.Components.Tables
@using Shared.View_Models

<MudPaper Elevation="3">
    <MudDataGrid Items="@Elements" QuickFilter="_quickFilter" ColumnResizeMode="ResizeMode.Container">
        <ToolBarContent>
            <MudText Typo="Typo.h6">GPUs</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                          AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <Columns>
            <PropertyColumn Property="gpu => gpu.PCPId" Title="PCP ID" />

            <PropertyColumn Property="gpu => gpu.Name" Title="Name">
                <CellTemplate>
                    <MudStack Row AlignItems="AlignItems.Center">
                        <MudImage Height="50" Width="50" Avatar="true" Src="@(context.Item.ImgUrl != null ? context.Item.ImgUrl : "favicon.ico")" />
                        <a href="@("product/gpu/" + context.Item.Id)"><MudText Typo="Typo.body1"><b>@(context.Item.Name)</b></MudText></a>
                    </MudStack>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="gpu => gpu.Manufacturer" Title="Manufacturer" />

            <PropertyColumn Property="gpu => gpu.Chipset" Title="Chipset" />

            <PropertyColumn Property="gpu => gpu.CoreClock" Title="Core Clock">
                <CellTemplate>
                    <MudText Typo="Typo.inherit">@(context.Item.CoreClock is not null ? context.Item.CoreClock + " MHz" : null)</MudText>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="gpu => gpu.BoostClock" Title="Boost Clock">
                <CellTemplate>
                    <MudText Typo="Typo.inherit"> @(context.Item.BoostClock is not null ? context.Item.BoostClock + " MHz" : null)</MudText>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="gpu => gpu.Memory" Title="Memory" />

            <PropertyColumn Property="gpu => gpu.Tdp" Title="TDP">
                <CellTemplate>
                    <MudText Typo="Typo.inherit"> @(context.Item.Tdp is not null ? context.Item.Tdp + " W" : null)</MudText>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="gpu => gpu.Color" Title="Color" />

            <PropertyColumn Property="gpu => gpu.Length" Title="Length">
                <CellTemplate>
                    <MudText Typo="Typo.inherit"> @(context.Item.Length + " mm")</MudText>
                </CellTemplate>
            </PropertyColumn>

            <PropertyColumn Property="gpu => gpu.Price" Title="Price">
                <CellTemplate>
                    <MudStack Row AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                        <b>
                            <MudText Typo="Typo.inherit"> @(string.Format("${0:N2}", context.Item.Price))</MudText>
                        </b>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small">Add</MudButton>
                    </MudStack>
                </CellTemplate>
            </PropertyColumn>
        </Columns>
        <PagerContent>
            <MudDataGridPager T="GPUVM" />
        </PagerContent>
    </MudDataGrid>
</MudPaper>

@code {
    [Parameter]
    public List<GPUVM>? Elements { get; set; }

    private string? _searchString { get; set; }

    private Func<GPUVM, bool> _quickFilter => gpu =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (gpu.Name.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if (!String.IsNullOrEmpty(gpu.Manufacturer) && gpu.Manufacturer.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        return false;
    };

}
